.div-game {
  background-color: rgba(46, 0, 20, 0.9);
  border-radius: 10px;
  color: rgb(128, 152, 72);
  margin-left: 450px;
  padding: 20px;
  text-align: center;
}

.question-text {
  margin-bottom: 20px;
  text-align: center;
}

.answer-options {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
}
