* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(181, 222, 173);
  display: flex;
}

.body-login {
  display: flex;
  flex-direction: column;
  margin-left: 450px;
}

.header-login {
  color: rgb(46, 0, 20);
  display: flex;
  font-family: Permanent Marker , sans-serif;
  letter-spacing: 5px;
  margin-top: 30%;
}

.form-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20%;
}

.label-login {
  color: rgb(68, 34, 32);
  font-weight: 600;
}

.input-login {
  border: 1px solid rgb(68, 34, 32);
}

/* Example */

/* CSS */
button {
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  cursor: pointer;
  display: inline-block;
  font-family: Inter , system-ui , Roboto , Helvetica Neue , Arial , sans-serif;
  height: 40px;
  line-height: 40px;
  outline: 0;
  overflow: hidden;
  padding: 0 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  transition: box-shadow 0.2s;
  user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: 60%;
  z-index: 9;
}

button:hover {
  box-shadow: rgba(253, 76, 0, 0.5) 0 3px 8px;
}
